
.card {
  width: 200px;
  margin: 50px;
}

.card_image {
  width: 100%;
  height: 200px;
}

.detail_button {
  background-color: white;
  color: black;
}

#card_1 {
}

#card_2 {
}

#card_3 {
}

#card_4 {
}

#card_5 {
}

#card_6 {
}

#card_7 {
}

#card_8 {
}