body {
  background-color: #f1f1f8;
}

.login_container {
  margin: auto;
  width: 500px;
  text-align: center;

  Button {
    margin: 3px;
  }
}

.input_box {
  border-color: #f1f1f8;
}

.alert {
  margin: 10%;
}




